body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  margin-right: 20px;
  margin-top: 20px;
  width: calc(100% - 260px);
  border: 1px dashed gray;
}

/* 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {

  body {
    overflow-x: scroll; /* 내용이 너비를 초과하면 수평 스크롤 허용 */
  }

  .content {
    width: 768px; /* 좁은 화면에서도 고정 너비 유지 */
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#clock {
  margin-top: 30px;
  border: 1px dashed gray;
}

.board {
  border: 1px dashed rgb(103, 199, 103);
}

iframe {
  width: calc(100%);
}