<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'superset/css/style.css' %}" />
  <title>StockSight</title>
</head>
<body>
  {% include 'common/menu_bar.html' %}
  <div class="content">
    <h2 id="clock">00:00:00</h2>
    <span>ml page</span>
  </div>
  <script src="{% static 'superset/js/clock.js' %}"></script>
</body>
</html>