<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'superset/css/style.css' %}" />
  <title>StockSight</title>
</head>
<body>
  {% include 'common/menu_bar.html' %}
  <div class="content">
    <header>
      <span id="page_name">Top 5 ML</span>
      <span id="clock">00:00:00</span>
    </header>
    <div class="board">
      <iframe src="http://YOUR_SUPERSET_DASHBOARD_URL"></iframe>
    </div>
  </div>
  <script src="{% static 'superset/js/clock.js' %}"></script>
</body>
</html>