<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'superset/css/style.css' %}" />
  <title>StockSight</title>
  <link rel="shortcut icon" href="{% static 'common/img/favicon_pur.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'common/img/favicon_pur.ico' %}" type="image/x-icon">
</head>
<body>
  {% include 'common/menu_bar.html' %}
  <div class="content">
    <header>
      <span id="page_name">Sectoral Key Stock Treemap</span>
      <span id="clock">00:00:00</span>
    </header>
    <div class="board">
      <script type='module' src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js'></script><tableau-viz id='tableau-viz' src='https://prod-apnortheast-a.online.tableau.com/t/toutelajourn6ea3f4ad53e3/views/stock_dashboard/Sheet1/4a51bb1e-08a5-4cab-8557-fa595a9beebf/32635e98-22c1-46b1-baf9-40d96f616dd2' width='1728' height='918' hide-tabs toolbar='bottom' ></tableau-viz>
    </div>
  </div>
  <script src="{% static 'superset/js/clock.js' %}"></script>
</body>
</html>