<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'viz/css/style.css' %}" />
  <title>StockSight</title>
  <link rel="shortcut icon" href="{% static 'common/img/favicon_pur.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'common/img/favicon_pur.ico' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'common/menu_bar.html' %}
  <div class="content">
    <header>
      <span id="page_name">수익률 계산</span>
      <span id="clock">00:00:00</span>
    </header>
    <div class="board">
      <div class="grid-container">
        {% for sector, companies in results.items %}
          <div class="sector">
            <h2>{{ sector }}</h2>
            <div class="grid">
              {% for company in companies %}
                <div class="grid-item">
                  <h3>{{ company.종목명 }}</h3>
                  <div class="financials">
                    <div class="profits">
                      <h4>수익</h4>
                      <ul>
                        {% for period, value in company.수익.items %}
                          <li>{{ period }}: {{ value|floatformat:2 }}원</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="outstanding-amounts">
                      <h4>미체결금액</h4>
                      <ul>
                        {% for period, value in company.미체결금액.items %}
                          <li>{{ period }}: {{ value|floatformat:2 }}원</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    
    
  </div>
  <script src="{% static 'viz/js/clock.js' %}"></script>
</body>
</html>