<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'viz/css/style.css' %}" />
  <title>StockSight</title>
  <link rel="shortcut icon" href="{% static 'common/img/favicon_pur.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'common/img/favicon_pur.ico' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'common/menu_bar.html' %}
  <div class="content">
    <header>
      <span id="page_name">수익률 계산</span>
      <span id="clock">00:00:00</span>
    </header>

    {% comment %}  {% endcomment %}
    <div class="board">
      {% for sector, details in data.items %}
          <div class="sector">
              <div class="sector-header">{{ sector }}</div>
              <div class="stocks">
                  {% for stock in details.종목 %}
                      <div class="stock">{{ stock }}</div>
                  {% endfor %}
              </div>
              <div class="profits">
                  {% for period, profit in details.수익.items %}
                      <div class="profit">
                          <div class="period">{{ period }}</div>
                          <div class="amount">{{ profit }}</div>
                      </div>
                  {% endfor %}
              </div>
          </div>
      {% endfor %}
      <!-- 빈 박스 추가 -->
      <div class="sector empty"></div>
      <div class="sector empty"></div>
      <div class="sector empty"></div>
  </div>
  

  </div>
  <script src="{% static 'viz/js/clock.js' %}"></script>
</body>
</html>