<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'viz/css/style.css' %}" />
  <title>StockSight</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  {% include 'common/menu_bar.html' %}
  <div class="content">
    <header>
      <span id="page_name">Moving_Everage</span>
      <span id="clock">00:00:00</span>
    </header>
    <div class="board">
      <div id="select_box">
        <select id="sector-select">
          <option value="">섹터 선택</option>
          {% for sector_name in sectors %}
          <option value="{{ sector_name }}">{{ sector_name }}</option>
          {% endfor %}
        </select>
        <select id="stock-select">
          <option value="">먼저 섹터를 선택하세요</option>
        </select>
      </div>
      <div id="select_period">
        <span id="period_comment">기간 2가지 선택</span>
        <label><input type="checkbox" name="moving-average" value="5">5일</label><br>
        <label><input type="checkbox" name="moving-average" value="10">10일</label><br>
        <label><input type="checkbox" name="moving-average" value="20">20일</label><br>
        <label><input type="checkbox" name="moving-average" value="30">30일</label><br>
        <label><input type="checkbox" name="moving-average" value="50">50일</label><br>
      </div>
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <script src="{% static 'viz/js/get_stock.js' %}"></script>
  <script src="{% static 'viz/js/get_period.js' %}"></script>
  <script src="{% static 'viz/js/clock.js' %}"></script>
</body>
</html>